<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <!--<add name="UnicornDBContext" connectionString="metadata=res://*/DAL.UnicornDBModel.csdl|res://*/DAL.UnicornDBModel.ssdl|res://*/DAL.UnicornDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DT-SGH649TZYD;initial catalog=unicornDB;persist security info=True;user id=sa;password=abc@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UnicornDBContext" connectionString="metadata=res://*/DAL.UnicornDBModel.csdl|res://*/DAL.UnicornDBModel.ssdl|res://*/DAL.UnicornDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.160.110;initial catalog=WCMUIAutomation;persist security info=True;user id=sa;password=abc@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ProjectName" value="WCMAutomation" />    <!-- Automation Test Project Name -->
    <add key="ProjectType" value="1"/>    <!-- NA -->
    <add key="Jurisdiction" value="SeleniumTestJurisdiction" />    <!-- Project Jurisdiction Value -->
    <add key="TestCycle" value="Cycle1" />    <!--TestCycle-->
    <add key="Screenshotpath" value="C:\\autoss\\"  />    <!--After Every Test Execution passed it will take screenshot on this given folder path -->
    <add key="IsScreenshotNeededOnTestCasePassed" value="False" />    <!-- Activate Schenshot on every test case pass-->
    <add key="IsDependencyEnabled" value="False" />    <!-- NA-->
    <add key="LogFilePath" value="C:\\autoss\\" />    <!-- Log file Path -->
    <add key="DisplayExecutionTimeInLogFile" value="True"/>
    <add key="IsRetryRequired" value="false" />    <!--Key for Script failure retry and default value is true-->

    <!--The below keys for appium project  -->
    <add key="browserName" value="Browser Name" />    <!--Appium project Browser name -->
    <add key="platformName" value="AppiumPlatformName" />    <!--Appium Platform Name-->
    <add key="platformVersion" value="AppiumPlatformversion" />    <!--Appium platform version-->
    <add key="deviceName" value="AppiumDeviceName" />    <!--Appium Device Name -->
    <add key="package" value="AppiumPackage/bundleId value" />    <!-- NA -->
    <add key="activity" value="AppiumActivity/udid value" />    <!-- Appiu Activity page value-->
    <add key="appPath" value="Application path value" />    <!--NA-->
    <add key="appiumurl" value="Appium server URL" />    <!--Appium Server URL-->
    
    <!--Combinatory testing settings  -->
    <add key="PictMaxLimit" value="10089" />    <!--NA-->
    <add key="PictOption" value="1" />    <!-- PictOption Value: 1(NonPict) 2(Pict) 3(All) -->
    
    <!--MultiBrowser configuration-->
    <add key="Browsers" value="FireFox,Chrome" />    <!--FireFox,Chrome,IE,Edge-->

    <!--Excel test data helper-->
    <add key="TestDataPath" value="WCM_TestData.xlsx" />
    <!--QTest settings-->
    <add key="PostResultsToQTest" value="FALSE" />    <!--Flag to turn on QTest Reporting -->
    <add key="BuildOnlyQTestFailedRuns" value="FALSE" />
    <add key="QTestServiceAddress" value="https://sg.qtestnet.com/" />    
    <add key="QTestLoginToken" value="c2d8TWFuanUuVHJpcGF0aGlAc2NpZW50aWZpY2dhbWVzLmNvbToxNTczODk4MzQ5NjY5OmRmNzA5OTNlYTE1ZWZmNWIyNTBmYmNlOTZhMThjNDMx" />
    <add key="QTestProjectId" value="47266" />
    <add key="QTestReleaseId" value="246981" />
    <add key="QTestSuiteId" value="2962007" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>